<!DOCTYPE html>
<html>
<head>
    <title>JJACK Project 2 - Snake</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/p2b1/project2b1game.css">
    <script src="../js/jquery.js"></script>
</head>
<body>
    <div id="cover-pos" onclick="hideCover()">
        <div id="head-text">CLICK TO PLAY</div>
        <div id="body-text"></div>
    </div>
    <div id="container">
        <div class="header">
            <div id="score-container">
                <div id="score-text">Score</div>
                <div id="score-counter">3</div>
            </div>
            <div id="time-container">
                <div id="time-text">Time</div>
                <div id="time-counter">0</div>
            </div>
            <div id="high-container">
                <div id="high-text">High</div>
                <div id="high-counter">0</div>
            </div>
        </div>
        <div class="game-card">
            <div id="cell-container"></div>
        </div>
    </div>
    <div id="fade-circle-1"></div>
    <div id="fade-circle-2"></div>
    <div id="fade-circle-3"></div>
    <script src="../js/p2b1/project2b1game.js"></script>
</body>
</html>