<!DOCTYPE html>
<html>
<head>
    <title>JJACK Project 2 - Snake</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/p2b1/project2b1.css">
    <script src="js/jquery.js"></script>
</head>
<body>
    <h1>JJACK - 스네이크</h1>
    <br />
    <div id="start-button" onclick="gameStart()">시작하기</div>
    <div id="fade-circle-1"></div>
    <div id="fade-circle-2"></div>
    <div id="fade-circle-3"></div>
    <script src="js/p2b1/project2b1.js"></script>
</body>
</html>